extends layout.pug
block contents
	include includes/headers/header.pug
	include includes/footers/form.pug
	.bounds.app--body
		include includes/columns/col-headers.pug
		include includes/columns/timeline.pug
		include includes/columns/friends.pug
		include includes/columns/messages.pug