.grid-33
	.app--section
		ul.app--message--list
			li
				h3
					| Conversation with 
					a #{name}
				ul.app--message--conversation
					each message in messages
						li.app--message
							.app--avatar(style='background-image: url('+message.sender.profile_image_url+')')
								img(src='static/images/f-spore.png')
							p.app--message--text #{message.text}
							p.app--message--timestamp #{message.created_at}